.tradewiz-address-tag-wrapper{
  position: absolute;
  display: flex;
  align-items: center;
  gap: 8px;
  z-index: 11;
}
.tradewiz-address-tag-wrapper.light .tradewiz-address-tag-content{
  background-color: #EEE8FF;
  color: #000000;
}
.tradewiz-address-tag-wrapper.light .tradewiz-address-tag-text>input{
  color: #000000;
}
.tradewiz-address-tag-container{
  border-radius: 6px;
  background: linear-gradient(85.02deg, #9448F8 21.95%, #2A3CFD 75.08%, #09D79E 120.24%);
  padding: 1px;
}
.tradewiz-address-tag-content{
  width: max-content;
  height: 18px;
  background-color: #16161C;
  border-radius: 6px;
  padding: 0 8px;
  font-size: 12px;
  color: #ADADCC;
  white-space: nowrap;
  display: none;
  align-items: center;
  line-height: 1;
}
.tradewiz-address-tag-content.show{
  display: flex;
}
.tradewiz-address-tag-container-icon{
  display: flex;
  align-items: center;
  gap: 8px;
}
.tradewiz-address-tag{
  display: flex;
  align-items: center;
  gap: 8px;
}
.tradewiz-address-edit-icon{
  cursor: pointer;
}
.tradewiz-address-edit-icon > span{
  display: none;
}
.tradewiz-address-edit-icon> span.show{
  display: block;
}
.tradewiz-address-hover-warpper{
  width: 280px;
  border-radius: 8px;
  background-color: #16161C;
  position: fixed;
  z-index: 1300;
}
.tradewiz-address-hover-warpper {
  opacity: 0;
  transition: opacity 0.2s;
  pointer-events: auto;
}

.tradewiz-address-hover-warpper.show {
  opacity: 1;
}
.tradewiz-address-hover{
  width: 100%;
  background: linear-gradient(85.02deg, #9448F8 21.95%, #2A3CFD 75.08%, #09D79E 120.24%);
  padding: 1px;
  border-radius: 8px;
}
.tradewiz-address-hover-content{
  width: 100%; 
  height: 100%;
  border-radius: 8px;
  background-color: #16161C;
}
.tradewiz-address-hover-content-header{
  width: 100%;
  height: 42px;
  padding: 0 12px;
  background: rgba(173, 173, 204, 0.05);
  display: flex;
  align-items: center;
  gap: 8px;
}

.tradewiz-address-hover-content-header > img{
  width: 24px;
  height: auto;
}
.tradewiz-address-hover-content-body{
  padding: 12px;
  display: flex;
  flex-wrap: wrap;
}
.tradewiz-address-hover-content-body-item{
  width: 50%;
}
.tradewiz-address-hover-content-body-item:nth-last-of-type(1){
  margin-top: 12px;
  width: 100%;
}
.tradewiz-address-hover-content-body-item-title{
  font-size: 12px;
  color: rgba(255, 255, 255, 0.6);
  margin-bottom: 6px;
}
.tradewiz-address-hover-content-body-item-value{
  color: rgba(255, 255, 255, 0.4);
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 12px;
}
.tradewiz-address-hover-content-body-item-value a > img{
  width: 12px;
  height: 12px;
}
.tradewiz-address-hover-content-body-item-value-tag{
  display: flex;
  flex-wrap: wrap;
  gap: 4px;
}
.tradewiz-address-hover-content-body-item-value-tag-item{
  background-color: rgba(172, 138, 255, 0.2);
  border-radius: 6px;
  height: 18px;
  width: max-content;
  font-size: 12px;
  color: rgba(255, 255, 255, 0.8);
  padding: 0 6px;
  display: flex;
  gap: 4px;
  align-items: center;
}
.tradewiz-address-hover-content-body-item-value-tag-item > img{
  width: 10px;
  height: 10px;
}
.tradewiz-address-tag-text{
  display: flex;
  align-items: center;
  gap: 10px;
}
.tradewiz-address-tag-text > input {
  width: 63px;
  height: 100%;
  background-color: transparent;
  border: none;
  outline: none;
  color: #fff;
  font-size: 12px;
}
.tradewiz-address-tag-text > img{
  width: 10px;
  height: auto;
  cursor: pointer;
}
.tradewiz-address-edit-icon-svg{
  color: rgba(255, 255, 255, 0.6);
}
.tradewiz-address-edit-icon-svg:hover{
  color: #fff;
}
.tradewiz-address-hover-copy{
  cursor: pointer;
}
.tradewiz-address-hover-copy:hover{
  color: #fff;
}