html,
body {
  max-width: none;
  min-width: 0;
  height: auto;
  background-color: #0e0e14;
  background-image: none;
}

.signal-heade {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 895px;
}
.wrap > .sidebar > a > .percent {
  width: 30;
  height: 14;
  border-radius: 4px;
  opacity: 1;
  font-family: Kanit;
  font-weight: 600;
  font-style: Italic;
  font-size: 12px;
  line-height: 12px;
  letter-spacing: 0%;
  margin-left: 6px;

  background: linear-gradient(
    98.72deg,
    #9448f8 17.01%,
    #2a3cfd 63.94%,
    #09d79e 103.84%
  );
}

.title {
  color: #fff;
  font-family: Kanit;
  font-size: 32px;
  font-weight: 500;
  line-height: 32px; /* 100% */
}
.cashback-container {
  width: 900px;
  display: flex;
  justify-content: space-between;
  height: 256px;
  margin-top: 28px;
  color: white;
}
.cashback-container .left-content {
  width: 289px;
  height: 256px;
  background-image: url(/src/public/assets/images/cashback-bg.png);
  background-size: contain;
}
.percent-title {
  color: rgba(255, 255, 255, 0.6);
  font-family: Kanit;
  font-size: 14px;
  font-weight: 400;
  line-height: normal;
  margin-top: 28px;
  margin-left: 28px;
}
.percent {
  margin-left: 28px;
  color: #fff;
  font-family: Kanit;
  font-size: 48px;
  font-weight: 500;
  line-height: normal;
}

.right-content {
  margin-left: 16px;
}
.claimed,
.unclaimed {
  width: 595px;
  height: 120px;
  flex-shrink: 0;
  border-radius: 12px;
  background: rgba(173, 173, 204, 0.15);
  /* backdrop-filter: blur(50px); */
}
.right-content img {
  width: 24px;
  height: 24px;
  margin-right: 12px;
}
.claim-btn {
  border-radius: 100px;
  border: 0.5px solid rgba(173, 173, 204, 0);
  background: #ac8aff;
  backdrop-filter: blur(10px);
  width: 88px;
  height: 33.75px;
  font-family: Kanit;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px; /* 142.857% */
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  color: white;
}

.unclaimed {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 28px;
  margin-top: 16px;
}
.unclaimed-content div:first-child,
.claimed div:first-child {
  color: rgba(255, 255, 255, 0.6);
  font-family: Kanit;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.claimed {
  padding-left: 28px;
  padding-top: 28px;
}
.unclaimed-content div:nth-child(2),
.claimed div:nth-child(2) {
  font-family: Kanit;
  font-size: 28px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  display: flex;
  align-items: center;
}
