@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@300;400;500;600;700;800;900&display=swap");
*{
  box-sizing: border-box;
  font-family: "Kanit", sans-serif;
}
html,
body {
  max-width: 320px;
  min-width: 320px;
  /* height: 500px; */
  user-select: none;
  background-size: 100% auto;
  background-position: center top;
  background-repeat: no-repeat;
  background-color: #16161C;
  margin: 0;
  font-family: "Kanit", sans-serif;
}
*::-webkit-scrollbar {
  display: none;
}
.main {
  overflow: hidden;
}
input {
  background: rgba(173, 173, 204, 0.05);
  border-radius: 8px;
  border: 1px solid rgba(173, 173, 204, 0.1);
  color: white;
  padding: 0 12px;
  height: 40px;
  width: 100%;
  outline: none;
  font-size: 14px;
}

::placeholder {
  color: rgba(173, 173, 204, 0.4);
  font-size: 14px;
}


input:focus {
  border: 1px solid #AC8AFF;
}
input.input-error:focus {
  border: 1px solid #FF4D67;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none !important;
}

input[type='number'] {
  -moz-appearance: textfield;
  appearance: textfield;
}

.action_buttons {
  display: flex;
  justify-content: space-between;
  gap: 8px;
}

.action_buttons>button {
  flex: 1;
  height: 40px;
  border-radius: 8px;
  font-weight: 600;
  font-size: 12px;
  color: #fff;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
}
.action_buttons>button> img{
  width: 14px;
  height: 14px;
}

.action_buttons>button:nth-of-type(1) {
  background: rgba(173, 173, 204, 0.2);
}
.action_buttons>button:nth-of-type(1):hover {
  background: rgba(173, 173, 204, 0.3);
}
.action_buttons>button:nth-of-type(1):active {
  background: rgba(173, 173, 204, 0.1);
}

.action_buttons>button:nth-of-type(2) {
  background: #AC8AFF;
}
.action_buttons>button:nth-of-type(2):hover {
  background: #C5ADFF;
}
.action_buttons>button:nth-of-type(2):active {
  background: #8B66E5;
}

select{
  background: rgba(173, 173, 204, 0.05);
  border-radius: 8px;
  border: 1px solid rgba(173, 173, 204, 0.2);
  color: white;
  padding: 0 16px;
  height: 40px;
  width: 100%;
  outline: none;
  font-size: 14px;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}
.switch {
  position: relative;
  display: inline-block;
  width: 44px;
  height: 24px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  border-radius: 24px;
  transition: 0.4s;
}

.slider::before {
  content: "";
  position: absolute;
  height: 20px;
  width: 20px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  border-radius: 50%;
  transition: 0.4s;
}

input:checked+.slider {
  background-color: #AC8AFF;
}

input:checked+.slider::before {
  transform: translateX(20px);
}
.toast {
  position: fixed;
  top: 40px;
  left: 50%;
  transform: translateX(-50%);
  backdrop-filter: blur(6px);
  color: #fff;
  padding: 12px 24px;
  border-radius: 8px;
  z-index: 10000;
  font-size: 14px;
  font-weight: 600;
  min-width: 154px;
  opacity: 0;
  animation: fade-in 0.5s forwards;
  display: flex;
  align-items: center;
}

.toast.error {
  background-color: #FF4D67;
}

.toast.error::before {
  content: "";
  width: 14px;
  height: 14px;
  background-image: url("/src/public/assets/images/error.png");
  background-size: cover;
  margin-right: 6px;
}

.toast.success {
  background-color: #AC8AFF;
}

.toast.success::before {
  content: "";
  width: 14px;
  height: 14px;
  background-image: url("/src/public/assets/images/success.png");
  background-size: cover;
  margin-right: 6px;
}

@keyframes fade-in {
  to {
    opacity: 1;
  }
}

.sk-chase {
  width: 25px;
  height: 25px;
  position: relative;
  animation: sk-chase 2.5s infinite linear both;
  margin: 50px auto;
}

.sk-chase-dot {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  animation: sk-chase-dot 2.0s infinite ease-in-out both;
}

.sk-chase-dot:before {
  content: '';
  display: block;
  width: 25%;
  height: 25%;
  background-color: #AC8AFF;
  border-radius: 100%;
  animation: sk-chase-dot-before 2.0s infinite ease-in-out both;
}

.sk-chase-dot:nth-child(1) {
  animation-delay: -1.1s;
}

.sk-chase-dot:nth-child(2) {
  animation-delay: -1.0s;
}

.sk-chase-dot:nth-child(3) {
  animation-delay: -0.9s;
}

.sk-chase-dot:nth-child(4) {
  animation-delay: -0.8s;
}

.sk-chase-dot:nth-child(5) {
  animation-delay: -0.7s;
}

.sk-chase-dot:nth-child(6) {
  animation-delay: -0.6s;
}

.sk-chase-dot:nth-child(1):before {
  animation-delay: -1.1s;
}

.sk-chase-dot:nth-child(2):before {
  animation-delay: -1.0s;
}

.sk-chase-dot:nth-child(3):before {
  animation-delay: -0.9s;
}

.sk-chase-dot:nth-child(4):before {
  animation-delay: -0.8s;
}

.sk-chase-dot:nth-child(5):before {
  animation-delay: -0.7s;
}

.sk-chase-dot:nth-child(6):before {
  animation-delay: -0.6s;
}

@keyframes sk-chase {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes sk-chase-dot {

  80%,
  100% {
    transform: rotate(360deg);
  }
}

@keyframes sk-chase-dot-before {
  50% {
    transform: scale(0.4);
  }

  100%,
  0% {
    transform: scale(1.0);
  }
}
button.loading{
  position: relative;
  cursor: not-allowed;
  color: transparent;
}
button.loading::after{
  content: "";
  width: 20px;
  height: 20px;
  background-image: url("data:image/svg+xml,%3Csvg%20width='21'%20height='22'%20viewBox='0%200%2021%2022'%20fill='none'%20xmlns='http://www.w3.org/2000/svg'%3E%3Cg%20clip-path='url(%23clip0_2192_107974)'%3E%3Cpath%20d='M10.5%200.5C16.2988%200.5%2021%205.2012%2021%2011C21%2013.5389%2020.0942%2015.9406%2018.4758%2017.8292C18.3575%2017.9729%2018.2117%2018.0916%2018.0469%2018.1784C17.8822%2018.2651%2017.7018%2018.318%2017.5163%2018.3342C17.3308%2018.3503%2017.144%2018.3293%2016.9668%2018.2724C16.7895%2018.2155%2016.6254%2018.1238%2016.484%2018.0026C16.3426%2017.8815%2016.2268%2017.7334%2016.1434%2017.567C16.0599%2017.4005%2016.0105%2017.2191%2015.998%2017.0334C15.9855%2016.8476%2016.0102%2016.6612%2016.0707%2016.4851C16.1311%2016.309%2016.226%2016.1468%2016.3499%2016.0078C17.5469%2014.6143%2018.2035%2012.8371%2018.2%2011C18.2%206.7475%2014.7525%203.3%2010.5%203.3C6.2475%203.3%202.8%206.7475%202.8%2011C2.8%2015.2525%206.2475%2018.7%2010.5%2018.7C10.8713%2018.7%2011.2273%2018.8476%2011.4898%2019.1101C11.7524%2019.3727%2011.8998%2019.7287%2011.8998%2020.1C11.8998%2020.4713%2011.7524%2020.8273%2011.4898%2021.0899C11.2273%2021.3524%2010.8713%2021.5%2010.5%2021.5C4.7012%2021.5%200%2016.7988%200%2011C0%205.2012%204.7012%200.5%2010.5%200.5Z'%20fill='%23FFFFFF'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath%20id='clip0_2192_107974'%3E%3Crect%20width='21'%20height='21'%20fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  animation: loading 1s infinite linear;
}
button.loading>img{
  visibility: hidden;
}
@keyframes loading{
  0%{
    transform: rotate(0deg);
  }
  100%{
    transform: rotate(360deg);
  }
}
.inputWrapperCheckbox{
  display: flex;
  align-items: center;
  gap: 12px;
}
label.custom-checkbox {
  position: relative;
  padding-left: 22px;
  cursor: pointer;
  font-size: 12px;
  user-select: none;
  display: inline-block;
  line-height: 24px;
  padding-top: 0;
  width: auto;
  color: rgba(255, 255, 255, 0.8);
}

.custom-checkbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.custom-checkbox .checkmark {
  position: absolute;
  left: 0;
  top: 5px;
  height: 16px;
  width: 16px;
  /* background-color: #eee; */
  border: 1px solid #545465;
  border-radius: 4px;
  transition: background-color 0.2s ease;
}

.custom-checkbox input:checked~.checkmark {
  background-color: #AC8AFF;
  border-color: #AC8AFF;
}

.custom-checkbox .checkmark::after {
  content: "";
  position: absolute;
  display: none;
}

.custom-checkbox input:checked~.checkmark::after {
  display: block;
  left: 4px;
  top: 0px;
  width: 4px;
  height: 10px;
  border: solid white;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 0;
  font-size: 12px;
  color: rgba(173, 173, 204, 0.6);
}

.footer-icons {
  display: flex;
  gap: 6px;
}

.footer-icons>button {
  background: rgba(173, 173, 204, 0.1);
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  outline: none;
  border: none;
  cursor: pointer;
  padding: 0;
  border-radius: 50%;
  color: rgba(255, 255, 255, 0.8);
  line-height: 1;
  font-size: 12px;
}

.footer-icons>button:hover {
  color: #fff;
}
.footer-icons>button.logout-btn {
  min-width: 24px;
  width: auto;
  padding: 0 8px;
  border-radius: 100px;
  display: flex;
  align-items: center;
  gap: 4px;
  color: rgba(255, 255, 255, 0.8);
}