html,
body {
  /* height: 480px !important; */
}
.main {
  background: transparent;
  overflow: hidden;
}
.logo {
  padding: 20px 20px 10px 20px;
  text-align: center;
}
.logo > img {
  width: auto;
  height: 20px;
}
.logo-text {
  background: linear-gradient(218.69deg, #e8beff 9.23%, #8e6eff 94.34%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  font-size: 12px;
  letter-spacing: 2px;
}
.main-form {
  padding: 10px 16px 0;
  display: flex;
  flex-direction: column;
  position: relative;
}
.main-form > label {
  color: #adadcc;
  font-size: 14px;
  line-height: 1;
}
.main-form-input {
  position: relative;
  margin-top: 8px;
}
.main-form-input > input {
  height: 36px;
}
.landing_buttons {
  margin-top: 15px;
}
.landing_buttons > button {
  width: 100%;
  height: 36px;
  border-radius: 8px;
  background: rgba(173, 173, 204, 0.1);
  color: #fff;
  font-size: 14px;
  line-height: 1;
  border: 1px solid transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6px;
  cursor: pointer;
}
.landing_buttons > button:nth-of-type(2) {
  background-color: #ac8aff;
}
.landing_buttons > button:nth-of-type(1):disabled {
  background-color: rgba(173, 173, 204, 0.1);
  color: rgba(255, 255, 255, 0.3);
}
.landing_buttons > button:nth-of-type(2):disabled {
  opacity: 0.3;
}
.error {
  font-size: 12px;
  color: #ff4d67;
  margin-top: 8px;
  position: absolute;
  bottom: -16px;
  left: 0;
}
.landing-bg {
  width: 100%;
  height: auto;
}
.main-form-code {
  display: flex;
  justify-content: space-between;
  color: #adadcc;
  font-size: 12px;
}
.main-form-code-button {
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
  text-decoration: underline;
  cursor: pointer;
}
.login-tip {
  color: #fff;
  margin: auto;
  width: 100%;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 10px;
}
.main-header-left {
  padding-left: 16px;
}
.main-header-left > img {
  width: auto;
  height: 16px;
  margin-top: 15px;
}

.dropdown {
  margin-left: 16px;
  position: relative;
  display: inline-block;
  width: 112px;
  margin-top: 12px;
  border-radius: 100%;
}

.selected {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 8px;
  /* border: 1px solid #ccc; */
  background-color: rgba(255, 255, 255, 0.05);
  border-radius: 13px;
  height: 26px;
  width: 112px;
  color: #fff;
  cursor: pointer;
  transition: all 0.2s;
}

.selected:hover {
  /* border-color: #888; */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.left {
  display: flex;
  align-items: center;
  gap: 8px;
}

.circle {
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}
.circle img {
  width: 20px;
  height: 20px;
  border-radius: 50%;
}

.arrow {
  width: 14px;
  height: 14px;
  transition: transform 0.2s;
}

.dropdown.open .arrow {
  transform: rotate(180deg);
}

.menu {
  display: none;
  position: absolute;
  top: 110%;
  left: 0;
  width: 100%;
  /* border: 1px solid #ccc; */
  color: #fff;
  /* background-color: rgba(0, 0, 0, 0.9); */
  overflow: hidden;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  animation: fadeIn 0.15s ease;
  z-index: 10;
  background-color: rgba(255, 255, 255, 0.05);
  border-radius: 13px;
}

.menu.show {
  display: block;
}

.menu > div {
  display: flex;
  align-items: center;
  background: #25272cff;
  gap: 15px;
  padding: 8px 13px;
  cursor: pointer;
}

.menu div:hover {
  background: #03102aff;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-4px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
