html,
body {
  max-width: none;
  min-width: 0;
  height: auto;
  background-color: #0E0E14;
  background-image: none;
}

.settingsHeader {
  font-size: 20px;
  font-weight: 500;
  color: #fff;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.settingsHeader img {
  width: 16px;
  height: 16px;
  margin-right: 12px;
}

.settingsSection {
  background-color: #16161E;
  border-radius: 12px;
  border: 1px solid rgba(173, 173, 204, 0.1);
  padding: 24px;
  margin-bottom: 20px;
}

.settingsSection > .mevCard{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 20px;
  margin-bottom: 20px;
  border-bottom: 1px solid rgba(173, 173, 204, 0.1);
}
.mevCard > .mevCardContent{
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.mevCard > .mevCardContent>div{
  line-height: 1;
}
.mevCard > .mevCardContent>div:nth-child(1){
  font-size: 14px;
  font-weight: 500;
  color: #fff;
}
.mevCard > .mevCardContent>div:nth-child(2){
  font-size: 12px;
  color: #ADADCC;
}

.headerTitle {
  font-weight: bold;
  font-size: 28px;
  margin-bottom: 16px;
  color: #ffd9ff;
  text-align: center;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.fieldsWrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  margin-bottom: 20px;
}

.inputRow {
  display: flex;
  flex-direction: column;
  gap: 8px;
  flex: 1 1;
  margin-bottom: 0;
}

.inputRow label:not(.custom-checkbox) {
  color: #ADADCC;
  font-size: 12px;
  line-height: 1;
}

.action_buttons {
  display: flex;
  gap: 12px;
  justify-content: start;
  flex-direction: row-reverse;
}

.action_buttons>button {
  flex: 0 0 96px;
}

.presetList {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  margin-bottom: 20px;
}

.presetList > button{
  width: 79px;
  height: 33px;
  border-radius: 100px;
  outline: none;
  border: none;
  background-color: rgba(173, 173, 204, 0.1);
  color: #fff;
  cursor: pointer;
  border: 1px solid transparent;
  cursor: pointer;
}
.presetList>button:hover{
  border-color: #AC8AFF;
}
.presetList>button.active{
  border-color: #AC8AFF;
}
.trailingStopCard{
  flex: 0 0 340px;
  border-radius: 8px;
  background-color: rgba(173, 173, 204, 0.05);
  color: #ADADCC;
  font-size: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
}
.trailingStopCard a{
  color: #AC8AFF;
  text-decoration:none;
}
.trailingStopCard::before{
  content: "";
  width: 1px;
  height: 100%;
  background-color: rgba(173, 173, 204, 0.1);
  position: absolute;
  left: -20px;
  top: 0;
}
.inputWrapper {
  width: 100%;
  position: relative;
}
.inputWrapper .suffix {
  font-size: 14px;
  color: rgba(173, 173, 204, 0.8);
  position: absolute;
  right: 16px;
  line-height: 1;
  top: 50%;
  transform: translateY(-50%);
}

.inputWrapper .suffix img {
  width: 14px;
  height: 14px;
}
.removeBtn{
  width: 40px;
  height: 40px;
  flex: 0 0 40px;
  border: 1px solid rgba(173, 173, 204, 0.1);
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.removeBtn > img{
  width: 14px;
  height: 14px;
}
.removeBtn:hover{
  background-color: rgba(173, 173, 204, 0.1);
}
.addTPSL,.addTrailingStop,.addTimeSell{
  display: flex;
  align-items: center;
  font-size: 14px;
  color: #AC8AFF;
  font-weight: 500;
  line-height: 1;
  margin-top: -4px;
  margin-bottom: 16px;
  text-decoration: underline;
  text-decoration-style: dashed;
  text-decoration-color: #AC8AFF;
  cursor: pointer;
  width: fit-content;
}
.addTPSL > img,.addTrailingStop > img,.addTimeSell >img{
  width: 14px;
  height: 14px;
  margin-right: 4px;
}
.tpslCard{
  flex: 0 0 340px;
  border-radius: 8px;
  background-color: rgba(173, 173, 204, 0.05);
  color: #ADADCC;
  font-size: 12px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 27px 32px;
  text-align: center;
}
.tpslCard::before {
  content: "";
  width: 1px;
  height: 100%;
  background-color: rgba(173, 173, 204, 0.1);
  position: absolute;
  left: -20px;
  top: 0;
}
.tpslCard > div:nth-child(1){
  border-bottom: 1px solid rgba(173, 173, 204, 0.05);
  padding-bottom: 20px;
  margin-bottom: 20px;
}
.tpslList{
  display: flex;
  gap: 20px;
}
.tp-title{
  margin-bottom: 8px;
  display: flex;
  align-items: center;
  font-size: 12px;
  color: #ADADCC;
}
.tp-title > div:nth-child(2){
  margin-left: 64px;
}
.tp-title > div:nth-child(3){
  margin-left: 104px;
}
.inputWrapperCheckbox{
  align-items: end;
  height: 100%;
  gap: 20px;
}