.main-header {
  background-color: rgba(173, 173, 204, 0.05);
  padding: 12px;
}
.main-header-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}
.main-header-drop-container {
  margin-top: 12px;
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}
.main-header-logo > img {
  width: auto;
  height: 16px;
  margin-top: 15px;
}
.main-header-left > img {
  width: auto;
  height: 16px;
  margin-top: 15px;
}
.main-header-right {
  width: 96px;
  height: 26px;
  background-color: rgba(173, 173, 204, 0.1);
  border-radius: 100px;
  color: rgba(255, 255, 255, 0.8);
  font-size: 12px;
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 8px;
  cursor: pointer;
}
.main-header-right-public-key {
  flex: 1;
  max-width: 60px;
  overflow: hidden;
}
.main-header-right:hover {
  color: #fff;
}
.main-header-pos {
  background-color: rgba(0, 0, 0, 0.2);
  height: 32px;
  margin-top: 12px;
  border-radius: 6px;
  color: #fff;
  font-size: 14px;
  display: flex;
  align-items: center;
  padding: 0 10px;
}
.main-header-pos-item {
  flex: 1;
}
.main-header-pos-item > span {
  font-weight: 500;
  color: #ffc300;
}
.main-header-pos-item-line {
  width: 1px;
  height: 12px;
  background-color: rgba(173, 173, 204, 0.2);
  margin: 0 12px;
}

.main-preset {
  display: flex;
  color: rgba(255, 255, 255, 0.8);
  margin-top: 12px;
  font-size: 14px;
  padding: 0 12px;
}
.main-preset > * {
  flex: 1;
}
.main-preset-select {
  background-color: rgba(173, 173, 204, 0.1);
  width: 96px;
  height: 28px;
  border-radius: 100px;
  border: none;
  color: rgba(255, 255, 255, 0.8);
}
.main-preset-more {
  display: flex;
  align-items: center;
  justify-content: end;
  cursor: pointer;
}
.main-preset-more > img {
  width: 12px;
  height: 12px;
  transform: rotate(-90deg);
}

.fieldsWrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  margin-top: 12px;
  padding: 0 12px;
}
.inputRow {
  display: flex;
  flex-direction: column;
  gap: 8px;
  flex: 1 1 154px;
  margin-bottom: 0;
}
.inputRow label {
  font-size: 12px;
  color: #adadcc;
  line-height: 1;
}
.inputRow input {
  height: 36px;
}
.inputWrapper {
  width: 100%;
  position: relative;
}
.inputWrapper .suffix {
  font-size: 14px;
  color: rgba(173, 173, 204, 0.8);
  position: absolute;
  right: 16px;
  line-height: 1;
  top: 50%;
  transform: translateY(-50%);
}
.inputWrapper .suffix img {
  width: 10px;
  height: 10px;
}
.action_buttons {
  margin-top: 14px;
  padding-left: 12px;
  padding-right: 12px;
}
.action_buttons.primary > button:nth-of-type(1) {
  background: #ac8aff;
}

.action_buttons.primary > button:nth-of-type(1):hover {
  background: #c5adff;
}

.action_buttons.primary > button:nth-of-type(1):active {
  background: #8b66e5;
}
.footer {
  padding-left: 12px;
  padding-right: 12px;
}
.spacer {
  width: 100%;
  height: 1px;
  background-color: rgba(173, 173, 204, 0.07);
  margin-top: 16px;
}

.inputWrapperCheckbox {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 16px;
  width: 100%;
}
/* select chain */
.dropdown {
  position: relative;
  display: inline-block;
  width: 112px;
  border-radius: 100%;
}

.selected {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 8px;
  /* border: 1px solid #ccc; */
  background-color: rgba(255, 255, 255, 0.05);
  border-radius: 13px;
  height: 26px;
  width: 112px;
  color: #fff;
  cursor: pointer;
  transition: all 0.2s;
}

.selected:hover {
  /* border-color: #888; */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.left {
  display: flex;
  align-items: center;
  gap: 8px;
}

.circle {
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}
.circle img {
  width: 20px;
  height: 20px;
  border-radius: 50%;
}

.arrow {
  width: 14px;
  height: 14px;
  transition: transform 0.2s;
}

.dropdown.open .arrow {
  transform: rotate(180deg);
}

.menu {
  display: none;
  position: absolute;
  top: 110%;
  left: 0;
  width: 100%;
  /* border: 1px solid #ccc; */
  color: #fff;
  /* background-color: rgba(0, 0, 0, 0.9); */
  overflow: hidden;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  animation: fadeIn 0.15s ease;
  z-index: 10;
  background-color: rgba(255, 255, 255, 0.05);
  border-radius: 13px;
}

.menu.show {
  display: block;
}

.menu > div {
  display: flex;
  align-items: center;
  background: #25272cff;
  gap: 15px;
  padding: 8px 13px;
  cursor: pointer;
}

.menu div:hover {
  background: #03102aff;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-4px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
