html,
body {
  max-width: none;
  min-width: 0;
  height: auto;
  background-color: #0e0e14;
  background-image: none;
}

.walletlist-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 895px;
}

.walletlist-header > div {
  color: #fff;
  font-family: Kanit;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.walletlist-header > a {
  border-radius: 100px;
  border: 0.5px solid rgba(173, 173, 204, 0);
  background: #ac8aff;
  backdrop-filter: blur(10px);
  color: #fff;
  font-family: Kanit;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  text-decoration: none;
  width: 117px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.list-container {
  width: 895px;
  min-height: 560px;
  border-radius: 12px;
  padding: 0 16px;
  border-radius: 12px;
  background: rgba(173, 173, 204, 0.07);
}
.list-container > .list-header {
  width: 895px;
  height: 48px;
  margin-top: 22px;
  color: rgba(255, 255, 255, 0.6);
  font-size: 12px;
  font-weight: 300;
  display: flex;
  align-items: center;
  border-bottom: 1px solid rgba(173, 173, 204, 0.07);
}
.list-container > .list-header div,
.list-content > .list-item div {
  display: flex;
  height: 48px;
  align-items: center;
}
.list-container > .list-header div:first-child,
.list-content > .list-item div:first-child {
  width: 360px;
}
/* .list-container > .list-header div:nth-child(2),
.list-content > .list-item div:nth-child(2) {
  width: 120px;
} */
.list-container > .list-header div:nth-child(2),
.list-content > .list-item div:nth-child(2) {
  width: 480px;
}
.list-content > .list-item div {
  margin-left: auto;
  width: 24px;
  height: 24px;
}
.list-item div img {
  width: 24px;
  height: 24px;
  cursor: pointer;
}
.list-content > .list-item {
  color: #fff;
  font-size: 12px;
  font-weight: 300;
  display: flex;
  align-items: center;
  width: 100%;
  height: 48px;
  border-bottom: 1px solid rgba(173, 173, 204, 0.07);
}

#list-content {
  height: 700px;
  overflow-y: auto;
}

.loader {
  text-align: center;
  padding: 10px;
  color: #666;
}
