.wrap{
  background: #0E0E14;
  background-image: url('/src/public/assets/images/whats-new-bg.png');
  background-size: auto 400px;
  background-repeat: no-repeat;
  background-position: center top;
  flex-direction: column;
  align-items: center;
}
.wrap > img{
  width: auto;
  height: 80px;
  margin: 64px auto 56px;
}
.wrap > .content{
  width: 800px;
  height: 386px;
  background: linear-gradient(180deg, rgba(173, 173, 204, 0.1) 0%, rgba(173, 173, 204, 0) 100%);
  border-radius: 12px;
  padding: 20px 24px;
  color: #fff;
  border: 1px solid #2E2D3A;
}
.content-title{
  font-size: 18px;
  font-weight: 500;
}
.description{
  margin-top: 12px;
}
.description p{
  margin: 6px 0;
  color: rgba(255, 255, 255, 0.8);
}