html,
body{
  background-color: #0E0E14;
  background-image:none;
}
.header {
  background-color: #16161c;
  padding: 0 20px;
  display: flex;
  align-items: center;
  height: 56px;
}

.logo {
  width: auto;
  height: 26px;
}

.headerSplit {
  width: 1px;
  height: 23px;
  background-color: rgba(173, 173, 204, 0.1);
  margin: 0 20px;
}

.headerNav {
  display: flex;
  gap: 24px;
}

.headerNav > a {
  font-size: 14px;
  color: rgba(173, 173, 204, 0.6);
  text-decoration: none;
}

.headerNav > a:hover {
  color: #fff;
}

.headerNav > a.active {
  color: #fff;
}
.headerWallet {
  margin-left: auto;
  display: flex;
  gap: 9px;
}
.headerWallet .address {
  display: flex;
  align-items: center;
  gap: 8px;
  height: 32px;
  padding: 0 16px;
  background-color: rgba(0, 0, 0, 0.2);
  color: rgba(255, 255, 255, 0.8);
  border-radius: 16px;
  cursor: pointer;
}
.headerWallet .address.balance {
  padding: 0 8px;
  text-decoration: none;
  color: #fff;
}
.headerWallet .address.balance:hover{
  text-decoration: underline;
}
.headerWallet .address.balance > img {
  width: 20px;
  height: 20px;
}
.headerWallet .copy-icon {
  display: flex;
  gap: 8px;
  align-items: center;
  font-size: 14px;
}
.wallet-info-public-key {
  display: flex;
  gap: 8px;
  align-items: center;
}
.wallet-info-public-key::after {
  content: "";
  width: 1px;
  height: 16px;
  background-color: rgba(173, 173, 204, 0.1);
  display: block;
}

.wrap {
  flex: 1;
  height: 0;
  display: flex;
  gap: 40px;
  padding: 20px 40px;
}
.wrap > .sidebar {
  width: 265px;
  max-height: fit-content;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 8px;
  border-radius: 12px;
  border: 1px solid rgba(173, 173, 204, 0.05);
  background-color: rgba(54, 53, 69, 0.1);
}
.wrap > .sidebar > a {
  height: 44px;
  display: flex;
  align-items: center;
  padding: 0 16px;
  font-size: 14px;
  border-radius: 10px;
  position: relative;
  color: rgba(173, 173, 204, 0.8);
  text-decoration: none;
  overflow: hidden;
}
.wrap > .sidebar > a:hover {
  background-color: rgba(173, 173, 204, 0.1);
  color: #fff;
  cursor: pointer;
}
.wrap > .sidebar > a.active {
  background-color: rgba(173, 173, 204, 0.1);
  color: #fff;
}
.wrap > .sidebar > a.active::after {
  content: "";
  width: 50px;
  height: 24px;
  background-color: #ac8aff;
  border-radius: 7px;
  position: absolute;
  left: -45px;
  top: 50%;
  transform: translateY(-50%);
}

.wrap > .wrapContent{
  flex: 1;
  overflow: auto;
}
.mainContainer{
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  max-width: none;
}