html,
body {
  height: 480px !important;
}
.main{
  background: transparent;
  overflow: hidden;
}
.logo{
  padding: 20px 20px 10px 20px;
  text-align: center;
}
.logo > img{
  width: auto;
  height: 20px;
}
.logo-text{
  background: linear-gradient(218.69deg, #E8BEFF 9.23%, #8E6EFF 94.34%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  font-size: 12px;
  letter-spacing: 2px;
}
.main-form{
  padding: 10px 16px 0;
  display:flex;
  flex-direction: column;
  position: relative;
}
.main-form >label{
  color: #ADADCC;
  font-size: 14px;
  line-height: 1;
}
.main-form-input{
  position: relative;
  margin-top: 8px;
}
.main-form-input>input{
  height: 36px;
}
.landing_buttons{
  margin-top: 15px;
}
.landing_buttons > button{
  width: 100%;
  height: 36px;
  border-radius: 8px;
  background: rgba(173, 173, 204, 0.1);
  color: #fff;
  font-size: 14px;
  line-height: 1;
  border: 1px solid transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6px;
  cursor: pointer;
}
.landing_buttons>button:nth-of-type(2){
  background-color: #AC8AFF;
}
.landing_buttons>button:nth-of-type(1):disabled {
  background-color: rgba(173, 173, 204, 0.1);
  color: rgba(255, 255, 255, 0.3);
}
.landing_buttons>button:nth-of-type(2):disabled {
  opacity: 0.3;
}
.error{
  font-size: 12px;
  color: #FF4D67;
  margin-top: 8px;
  position: absolute;
  bottom: -16px;
  left: 0;
}
.landing-bg{
  width: 100%;
  height: auto;
}
.main-form-code{
  display: flex;
  justify-content: space-between;
  color: #ADADCC;
  font-size: 12px;
}
.main-form-code-button{
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
  text-decoration: underline;
  cursor: pointer;
}