.tradewiz-limit-container{
  display: none;
  flex-direction: column;
}
.tradewiz-limit-split {
  width: 100%;
  height: 1px;
  background: rgba(173, 173, 204, 0.1);
  margin-bottom: 12px;
  
}
.tradewiz-limit-header{
  height: 80px;
  box-sizing: border-box;
  background: rgba(173, 173, 204, 0.1);
  border-radius: 8px;
  color: rgba(255, 255, 255, 0.6);
  font-size: 12px;
  align-items: center;
  padding: 6px 8px;
  gap: 4px;
  font-size: 12px;
  line-height: 1;
  position: relative;
  display: flex;
  flex-direction: column;
}
.tradewiz-dev-sell-header{
  height: 70px;
  box-sizing: border-box;
  font-size: 12px;
  align-items: center;
  position: relative;
  flex-direction: column;
  display: flex;
  width: 100%;
}
.tradewiz-dev-sell-top {
  height: 40px;
  box-sizing: border-box;
  color: rgba(255, 255, 255, 0.6);
  font-size: 12px;
  align-items: center;
  gap: 4px;
  line-height: 1;
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.tradewiz-dev-sell-body {
  height: 30px;
  box-sizing: border-box;
  color: rgba(255, 255, 255, 0.6);
  font-size: 12px;
  align-items: center;
  gap: 4px;
  line-height: 1;
  position: relative;
  display: none;
  justify-content: flex-start;
  width: 100%;
}
.tradewiz-limit-body{
  height: 40px;
  box-sizing: border-box;
  /* background: rgba(173, 173, 204, 0.1);
  border-radius: 8px; */
  color: rgba(255, 255, 255, 0.6);
  font-size: 12px;
  align-items: center;
  /* padding: 6px 8px; */
  gap: 4px;
  line-height: 1;
  position: relative;
  display: flex;
}
.tradewiz-limit-input-container{
  width: 46px;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 6px 0px 0px 6px;
  display: flex;
  align-items: center;
  padding: 0 4px;
}
.tradewiz-limit-flex{
  height: 100%;
  display: flex;
  align-items: center;
  gap: 1px;
}
.tradewiz-limit-mc{
  width: 35px;
  flex: 0 0 35px;
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.tradewiz-limit-input{
  background-color: transparent;
  width: 100%;
  border: none;
  color: rgba(255, 255, 255, 0.6);
  text-align: center;
}
.tradewiz-limit-input-value-container{
  width: 40px;
  height: 100%;
  background-color: rgba(173, 173, 204, 0.2);
  border-radius: 6px;
  display: flex;
  align-items: center;
  padding: 0 2px;
  border: 1px solid transparent;
  cursor: pointer;
}
.tradewiz-limit-input-value{
  text-align: center;
  background-color: transparent;
  width: 100%;
  border: none;
  color: #fff;
  cursor: pointer;
}
.tradewiz-limit-range-container{
  width: 105px;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 0 6px 6px 0;
  padding: 6px 5px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 6px;
}
.tradewiz-limit-range-labels{
  width: 100%;
  display: flex;
  justify-content: space-between;
  font-size: 10px;
}
.tradewiz-limit-range{
  width: 100%;
  position: relative;
}
.tradewiz-limit-range-fill{
  width: 100%;
  height: 2px;
  border-radius: 100px;
  background-color: rgba(173, 173, 204, 0.15);
  position: relative;
}
.tradewiz-limit-range-handle{
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #AC8AFF;
  left: 50%;
  transform: translateX(-50%);
  top: -5px;
  cursor: pointer;
}
.tradewiz-limit-range-thumb{
  position: absolute;
  width: 30%;
  height: 100%;
  border-radius: 100px;
  background-color: #AC8AFF;
  left: 50%;
  top: 0;
}
.tradewiz-limit-range-input{
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
}

input[type="range"].tradewiz-limit-range-input {
  -webkit-appearance: none;
  width: 100%;
  height: 100%;
  background: transparent;
  outline: none;
}

input[type="range"].tradewiz-limit-range-input::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background: #AC8AFF;
  cursor: pointer;
}

input[type="range"].tradewiz-limit-range-input::-moz-range-thumb {
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background: #AC8AFF;
  cursor: pointer;
}

input[type="range"].tradewiz-limit-range-input::-ms-thumb {
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background: #AC8AFF;
  cursor: pointer;
}
.tradewiz-devsell-create-button,.tradewiz-limit-create-button{
  background-color: #AC8AFF;
  font-size: 12px;
  border-radius: 6px;
  width: 52px;
  height: 100%;
  color: #fff;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.tradewiz-devsell-create-button {
  height: 30px;
  margin-right: -8px;
}