html,
body {
  max-width: none;
  min-width: 0;
  height: auto;
  background-color: #0e0e14;
  background-image: none;
}

.signal-heade {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 895px;
}
.ref-header {
  width: 624px;
  height: 86px;
  position: relative;
}

.ref-header > div {
  color: #fff;
  font-family: Kanit;
  font-size: 32px;
  font-style: normal;
  font-weight: 500;
  line-height: 32px; /* 100% */
}
.ref-header .update {
  color: #fff;
  font-family: Kanit;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: 14px; /* 100% */
  margin-top: 12px;
}
.ref-header .img-container {
  width: 236.968px;
  height: 95px;
  position: absolute;
  right: 0;
  top: -10px;
  overflow: hidden;
}
.ref-header img {
  width: 236.968px;
  height: 132.806px;
}

.wrap > .sidebar > a > .percent {
  width: 30;
  height: 14;
  border-radius: 4px;
  opacity: 1;
  font-family: Kanit;
  font-weight: 600;
  font-style: Italic;
  font-size: 12px;
  line-height: 12px;
  letter-spacing: 0%;
  margin-left: 6px;

  background: linear-gradient(
    98.72deg,
    #9448f8 17.01%,
    #2a3cfd 63.94%,
    #09d79e 103.84%
  );
}

.ref-item {
  width: 624px;
  height: 96px;
  background: linear-gradient(
    85.02deg,
    #9448f8 21.95%,
    #2a3cfd 75.08%,
    #09d79e 120.24%
  );
  padding: 1px;
  border-radius: 12px;
  z-index: 1;
  position: relative;
  margin-top: 16px;
}
.ref-item:nth-child(2) {
  margin-top: 0px !important;
}
.ref-item:nth-child(3) {
  background: linear-gradient(
    85.02deg,
    rgba(148, 72, 248, 0.6) 21.95%,
    rgba(42, 60, 253, 0.6) 75.08%,
    rgba(9, 215, 158, 0.6) 120.24%
  );
}
.ref-item:nth-child(4) {
  background: linear-gradient(
    85.02deg,
    rgba(148, 72, 248, 0.3) 21.95%,
    rgba(42, 60, 253, 0.3) 75.08%,
    rgba(9, 215, 158, 0.3) 120.24%
  );
}
.ref-item .ref-container {
  width: 622px;
  height: 94px;
  border-radius: 12px;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}
.level-container {
  width: 152px;
  height: 64px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.level-container:first {
  border-right: 1px solid rgba(173, 173, 204, 0.1);
}
.ref-item .level {
  width: 104px;
  height: 44px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.ref-item .level img {
  width: 36px;
  height: 40px;
}
.level-text div:first-child {
  font-family: Kanit;
  font-weight: 500;
  font-size: 22px;
  line-height: 22px;
  letter-spacing: 0px;
}
.level-text div:nth-child(2) {
  font-family: Kanit;
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 0px;
  line-height: 14px;
  margin-top: 8px;
}
.rebate div:first-child {
  font-family: Kanit;
  font-weight: 500;
  font-size: 20px;
  letter-spacing: 0px;
  height: 27px;
  line-height: 27px;
}
.rebate div:nth-child(2) {
  font-family: Kanit;
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 0px;
  color: rgba(255, 255, 255, 0.6);
  height: 21px;
  line-height: 21px;
}
.rebate img {
  width: 16px;
  height: 16px;
  margin-right: 8px;
}
.link-container {
  width: 622px;
  height: 94px;
  border-radius: 12px;
  background: rgba(173, 173, 204, 0.1);
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-top: 16px;
}
.link-container div:first-child {
  color: #fff;
  font-family: Kanit;
  font-size: 16px;
  font-weight: 500;
  line-height: normal;
}
.link-container div:nth-child(2) {
  color: #fff;
  font-family: Kanit;
  font-size: 14px;
  font-weight: 300;
  line-height: normal;
  display: flex;
  align-items: center;
}
.link-container img {
  cursor: pointer;
  display: flex;
  width: 14px;
  height: 14px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  margin-left: 8px;
}
.ref-right {
  width: 260px;
  height: 601px;
  flex-shrink: 0;
  margin-left: 16px;
  position: relative;
}
.ref-right img {
  width: 260px;
  height: 601px;
}
.ref-right .rules {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 220px;
  height: 36px;
  flex-shrink: 0;
  left: 20px;
  bottom: 20px;
  border-radius: 100px;
  background: rgba(173, 173, 204, 0.1);
  cursor: pointer;
}
.rules img {
  width: 14px;
  height: 14px;
  margin-right: 6px;
}
.rules div {
  color: rgba(255, 255, 255, 0.8);
  font-family: Kanit;
  font-size: 14px;
  font-weight: 400;
  line-height: normal;
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-decoration-skip-ink: auto;
  text-decoration-thickness: auto;
  text-underline-offset: auto;
  text-underline-position: from-font;
}
.wrapContent {
  display: flex;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 2;
}

.ref-modal {
  position: relative;
  width: 1024px;
  height: 525.5px;
  border-radius: 16px;
  border-width: 2px;
  z-index: 2;
}
.ref-modal img {
  width: 1024px;
  height: 525.5px;
  border-radius: 16px;
}
#close-btn {
  width: 28px;
  height: 28px;
  position: absolute;
  right: -44px;
  top: 0;
  cursor: pointer;
}
